.hello{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    background-color: aqua;
    text-align: center;
}
.big__cointner{
    background-color: rgb(202, 226, 94);
    width: 100%;
    height: auto;
    padding-bottom: 3%;
}